html{
    background-color: #fff;
    scroll-behavior: smooth;
    margin:30px;
}

.header h1{
    text-align: center;
    font-size: 65px;
    color: #3d5a80;
    /*margin-left: 300px;
    margin-right: 300px;*/
    
    border:2px solid #293241;
    background-color: #fff;
}

.header h2{
    text-align: center;
    font-size: 25px;
    margin-left: 20%;
    margin-right: 20%;
    border:1px transparent #fff;
    background-color: #fff;
    color: #ee6c4d;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    height: 100%;
  }
  

#bakgrunn{
    background-image: url(../Oppg_IT/binary\ map-1254502_1280.webp);
    
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    
}

.topnav {
    border:1px solid #3d5a80;
    background-color: #ee6c4d;
    padding:40px;
    
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

}

.topnav:hover {
    border:2px solid #3d5a80;
    margin:-1px;
    
  }

.topnav a {
    color: #111;
    text-align: center;
    padding: 13px;
    
    text-decoration:none;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    
  }

.topnav a:hover {
    background-color: #3d5a80;
    color: white;
    text-decoration: underline;
    border-radius: 50%;
    border-bottom: 2px solid #111;
    margin:-1px;
    
}




.parent{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap:20px;
}

.child{
    border: 2px solid #3d5a80;
    height:200px;
    
}



#child1{
    background-image: url(../Oppg_IT/banner-6684416_1280IT.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
#child2{
    background-image: url(../Oppg_IT/binary\ tornado-5389555_1280.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
}
#child3{
    background-image: url(../Oppg_IT/bitcoin-4130299_1280.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
}


.overskrift{
    font-size:40px;
    color: #293241;
}

#p1, #p2, #p2_5, #p3{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    
}

/*bilder*/
#bilde1{
    
    background-image: url(../Oppg_IT/binary-3322478_1280.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height:200px;
    
    border-bottom: 2px solid #ee6c4d;
}
#bilde2{
    
    background-image: url(../Oppg_IT/numbers.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height:200px;
    margin-right: 50px;

    
}
#bilde3{
    
    background-image: url(../Oppg_IT/binary-3322478_1280.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height:200px;
    
    border-bottom: 2px solid #ee6c4d;
}

#bilde2_5{
    background-image: url(../Oppg_IT/binary_joke.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    height:440px;
    margin-top: 100px;
    
}
#bilde3_5{
    background-image: url(../Oppg_IT/binary-1327493_1280.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    
    height:440px;
    margin-top: 30px;
    
}
/*slutt bilder*/


#tekst1, #tekst2, #tekst3, #tekst2fort{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    
    
}
#tekst1, #tekst3{
    
    font-family: Arial, Helvetica, sans-serif;
    margin-right:50px;
    
}

.tallsystemer_overskrifter{
    font-size: 30px;
    color: #ee6c4d;
    
}

#tekst2fort, #tekst2
{
    padding-right: 45px;
}

/*tabell start*/
#tabell{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 22px;
    
}

table{
    border-collapse: collapse;
    
}
th,td {
    border: 1px solid #816868;
    padding: 8px;

}

thead > tr {
    background-color: #ee6c4d;
    color: #f6f7fa;
}

tbody > tr{
    background-color: #ffffff;
}


tbody > tr:nth-child(odd){
    background-color: #e6e6e6;
}
/*tabell slutt*/

#siste_a2{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 113px;
}

/*Hjemknapp*/
#knapp {
    background-color: #293241; 
    border: none; 
    padding: 12px 16px; 
    font-size: 18px; 
    
    margin-bottom: 20px;
    width:70px;
    text-align: center;
  }  
  #hjem_ikon a {
    color: #fff;
    cursor:default;
  }
  #knapp:hover {
    background-color: #3d5a80;
    cursor:pointer;
  }
/*slutt hjemknapp*/

footer {
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
}